<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Gallery - login</title>
    <link rel="stylesheet" href="/stylesheets/index.css">

    <script src="/scripts/index.js" defer></script>
</head>

<body>

    <div class="container">
        <div class="jumbotron">
            <h2>Log In</h2>
            <span id="signup-form"></span>
            <form action="" method="post" id="login-form">
                <label for="email">Enter you email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <label for="password">Enter your Password:</label>
                <input type="password" name="password" id="" class="form-control" required>
                <input type="checkbox" name="keepme" id="keepme">
                <label for="keepme">Keep Me logged In</label><br>
                <button class="btn btn-success">Log In</button>
            </form>
            <p>don't have an account yet? <a href="/signup">Create one!</a></p>
        </div>
    </div>
</body>

</html>